* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	position: absolute;
	min-height: 100%;
	width: 100%;
	background: #1e1e1e;
}

#bg {
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(60deg, hsl(125, 37%, 74%), hsla(160, 56%, 41%, 0.5));
	z-index: -1;
}

nav a[href="/veille-technologique"] {
	border: 2px solid hsl(0, 0%, 93%, 0.15);
	box-shadow: 4px 4px 4px hsl(0, 0%, 0%, 0.25);
	background: hsl(0, 0%, 93%, 0.05);
	padding: 7.5px;
}

h1, h2, a, li, p {
	color: #fff;
}

h1 {
	text-align: center;
	margin: calc(1em + 42px + 4rem) auto;
	margin-bottom: 4rem;
}

h2 {
	margin-bottom: 1.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 5rem;
	margin-bottom: 2rem;
}

#def, #tools {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#def p, #tools p {
	background: hsl(0, 0%, 93%, 0.05);
	padding: 1rem;
	margin-bottom: 1rem;
	border: 2px solid hsl(0, 0%, 93%, 0.15);
	border-radius: 15px;
	width: calc((100% - 6rem - 8px) / 2);
}

.container p {
	background: hsl(0, 0%, 93%, 0.05);
	padding: 1rem;
	border: 2px solid hsl(0, 0%, 93%, 0.15);
	border-radius: 15px;
	min-width: calc(360px - 4rem);
}

@media (max-width: 1200px) {
	.container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media (max-width: 800px) {
	#def p, #tools p{
		width: auto;
	}
}